.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
    flex-wrap: wrap;
}
.card{
	max-width: 100%;
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	background:#fff;
	flex: 0 0 30%;
	margin: 10px;
}

.card a{
    text-decoration: none;
    color: black;
}

.card:hover{
	box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

.card a img{
    max-width: 100%;
}