.card{
    width: 20rem;
    border-radius: 6%;
    overflow: hidden;
    -webkit-border-radius: 6%;
    -moz-border-radius: 6%;
    -ms-border-radius: 6%;
    -o-border-radius: 6%;
    margin: 30px;

}


.col a{
    text-decoration: none;
}