/*Inicio*/

.fondinho{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(imagenes/aaaa.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.navbarM{
    background-color: red;
    padding-left: 100px;
    height: 90px;
    align-items: center;
    display: flex;
}

.logo{
    color:yellow;
    text-decoration: none;
}

.logo a:hover{
    color:yellow;
}

.form-control{
    margin-left: 400px;
    display: auto;
}

.nav li{
    display: inline-block;
}

.nav a{
    color: white;
    text-decoration: none;
    padding: 20px;
}

.nav li:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.nav li a:hover{
    color: yellow;
}

.btnn{
    background-color: red;
    color: white;
    border: none;
    margin-right: 20px;
}

.btnn:hover{
    color: yellow;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.carousel-item{
    width: auto;
    height: 600px;
}

.texts{
    line-height: 4.0;
    margin-left: 380px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*Menu oculto*/
.offcanvas-body a{
    color: black;
    text-decoration: none;
    padding: 20px;
}

.offcanvas-body a:hover{
    color: yellow;
}
 .offcanvas-body form{
    margin-top: 90px;
}

/* Texto */
.texttitle h3{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Card */
.container-carda{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
    flex-wrap: wrap;
}

.carda{
    width: 13rem;
}

.carda h3{
    text-align: center;
}

.carda a img{
    max-width: 70%;
    flex: 0 0 20%;
    margin-top: 20px;
    margin: 25px;
    margin-left: 30px;
}

.carda:hover{
	box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

.carda a{
    text-decoration: none;
    color: black;
}