/*Inicio*/
.navbarM{
    background-color: red;
    padding-left: 100px;
    height: 90px;
    align-items: center;
    display: flex;
}

.logo{
    color:yellow;
    text-decoration: none;
}

.logo a:hover{
    color:yellow;
}

.form-control{
    margin-left: 400px;
    display: auto;
}

.nav li{
    display: inline-block;
}

.nav a{
    color: white;
    text-decoration: none;
    padding: 20px;
}

.nav li:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.nav li a:hover{
    color: yellow;
}

.carousel-item{
    width: auto;
    height: 600px;
}

.custom-popover{
    color: brown;
}

.custom-popover{
    background-color: yellow;
}

.texts{
    line-height: 4.0;
    margin-left: 380px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card{
    width: 13rem;
}

.card-group{
    margin-left: 400px;
    margin-right: 500px;
}

.card a{
    text-decoration: none;
    color: black;
}

/*Solicitud*/
#soli{
    margin-top: 50px;
    margin-left: 580px;
   
}

#p{
    line-height: 4.0;
    margin-left: 500px;
}
#control{
    margin-bottom: 30px;
    margin-left: 50px;
}

#btnn{
    margin-top: 40px;
    margin-left: 900px;
}
