@charset "utf-8"; 
*{
box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Segoe UI",Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
h2 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}
.tarjeta {
  max-width: 65vw;
  margin: 100px auto;
  display: block;
  border-radius: 10px;
  border: 1px solid black;
  overflow: hidden;
}
.contenido {
  display: flex; 
}
@media (max-width: 1024px){
  .contenido{
  flex-direction: column;
  } 
  .tarjeta {
   max-width: 95vw; 
  }
}
.ladoIzq, .ladoDer {
  width: 100%;
}
.ladoDer img {
  width: 100%;
  height: 100%;
  border-style: none;
}
.ladoIzq {
  background: rgb(187, 16, 16);
  color: rgb(255, 255, 255);
  padding: 48px
}
.btonn {
  display: inline-block;
  background: white;
  margin-right: 4px;
  padding: 14px;
  border-radius: 5px;
  margin-top: 18px;
}
a.btonn{
   text-decoration: none;
}
a.btonn:first-of-type {
   background: #eeff00;
   color: rgb(0, 0, 0);
}
a.btonn:hover{
   opacity: 0.8;
}