/* Title styles */
.title-container {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

/* General styles */
.container-fluid {
    max-width: 900px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 15px;
    max-width: 400px;
}

.form-control.is-invalid {
    border-color: red;
}

.form-text.text-danger {
    display: none;
    color: red;
}

.form-group.text-center {
    margin-top: 15px;
}

.form-group.text-center .btn {
    padding: 10px;
}