{% load static %}
<footer class="fo-pagina" >
    <div class="part-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="{% static 'imagenes/logo2.png' %}" alt="Logo de RM">
                </a>
            </figure>
        </div>
        <div class="box">
            <h5>Ofertas Exclusivas en tu correo</h5>
            <input type="text" placeholder="Ingrese su correo">
            <input type="button" value="Suscríbete">
        </div>
        <div class="box" id="cont">
            <h2>Contáctanos</h2>
            <p><i class="bi bi-envelope-at-fill"> tallerrayomakween@gmail.com</i></p>
            <p><i class="bi bi-telephone-fill"> (+569)7835 6134</i></p>
        </div>
    </div>
    <div class="part-2">
        <p>&copy; 2024 <b>Taller Rayo Makween</b> - Todos los Derechos Reservados.</p>
    </div>
</footer>
