{% load static %}

<div class="navbarM">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="logo" href="{% url 'paginaPrincipal' %}">
                <img src="{% static 'imagenes/logo2.png' %}" alt="logo" width="150px" height="50px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Catalogo' %}">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Solicitud' %}">Solicitud</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'postulacion' %}">Postulación</a>
                    </li>
                </ul>
                <form class="d-flex me-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                    <button class="btn btn-outline-warning" type="submit">Buscar</button>
                </form>
                <button type="button" class="btnn"> <a class="nav-link" href="{% url 'Carro' %}">Carrito</a> </button>
                <form>
                    <a href="{% url 'Registrar' %}" class="btn btn-outline-warning" role="button" aria-disabled="true"><i class="bi bi-car-front-fill"> Registrar</i></a>
                </form>
            </div>
        </div>
    </nav>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <h3 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h3>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'paginaPrincipal' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Catalogo' %}">Catálogo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Solicitud' %}">Solicitud</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Carro' %}">Carrito</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'postulacion' %}">Postulación</a>
                </li>
            </ul>
            <form>
                <a href="{% url 'Login' %}" role="button" aria-disabled="true" class="bi bi-car-front-fill"> Iniciar sesión</a>
                <span>|</span>
                <a href="{% url 'Registrar' %}" role="button">Registrar</a>
            </form>
        </div>
    </div>
</div>