{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carro</title>
    <link rel="icon" type="image/png" sizes="32x32" href="https://seeklogo.com/images/P/Pixar_Cars_-_Rusteze-logo-CD235902CE-seeklogo.com.png"/>
    <script src="https://kit.fontawesome.com/6eec8718dd.js" crossorigin="anonymous"></script>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/paginaPrincipalStyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/CarroStyle.css' %}">
    
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- JS -->
    <script src="{% static 'js/carro.js' %}" defer></script>
    <script src="{% static 'js/HeadAndFoot.js' %}" defer></script>
</head>

<body class="fondo">
    <!-- Parte superior -->
    <header></header>

    <!--Producto-->    
    <div class="container py-4" id="tarjeta">

        <div class="card" style="max-width: 540px;">
            <div class="row g-0" style="margin-top: 10px;">
                <div class="col-4">
                    <img class="img-fluid" src="{% static 'imagenes/batería1.jpg' %}" alt="Batería">
                </div>

                <div class="col-8">
                    <div class="card-body">
                        <h1 class="h5 card-tittle">Batería</h1>
                        <h2 class="h2 card-subtitle text-muted mb-2">Producto</h2>
                        <p class="card-text">La mejor batería del mercado, tiene la última tecnología de las baterías más modernas hechas en Perú</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1 id="total">Total: "Valor"</h1>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmación de compra</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Por favor confirmar
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    <!--Datos de compra-->
    <section class="form-register">
        <form class="">

            <h4>Datos de envío</h4>

            <div>
                <input class="dato" type="text" name="calles" id="calles" placeholder="Ingrese su calle" required="">
            </div>

            <div>
                <input class="dato" type="number" name="numeros" id="numeros" placeholder="N° Calle" required>
            </div>

            <div>
                <input class="dato" type="email" name="correo" id="correo" placeholder="Ingrese su correo" required>
            </div>

            <div>
                <input class="dato" type="number" name="contacto" id="contacto" placeholder="Ingrese su número de Contacto" required>
            </div>

            <div>
                <select class="dato" name="Servicio" id="Servicio" required>
                    <option value="" disabled selected>Tipo de Envío</option>
                    <option value="1"> Envío rápido</option>
                    <option value="2"> Estándar</option>
                </select>
            </div>

            <div>
                <textarea class="dato" name="indicaciones" id="indicaciones" cols="40" rows="5" placeholder="Indicaciones o referencias" required></textarea>
            </div>
            
            <div>
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="validarCarro()" class="btn-pay">Enviar Solicitud</button>
            </div>
        </form>       
    </section>

    <br>

    <!-- footer-->
    <footer class="fo-pagina"></footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
