{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postulación</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/postulacionStyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/postulacionForm.css' %}">

    <!-- Logo -->
    <link rel="icon" type="image/png" sizes="32x32" href="https://seeklogo.com/images/P/Pixar_Cars_-_Rusteze-logo-CD235902CE-seeklogo.com.png"/>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- JS -->
    <script src="{% static 'js/postulacion.js' %}" defer></script>
    <script src="{% static 'js/HeadAndFoot.js' %}" defer></script>
    <script src="{% static 'js/postulacionForm.js' %}" defer></script>
</head>

<body>
    <header></header>

    <h1 id="trabajadores">NUESTROS TRABAJADORES</h1>
    <div class="container-card">
        <div class="card">
            <img id="trabajador1">
            <div class="cardl">
                <h3 id="nombre1"></h3>
                <p class="card-text"><small class="text-body-secondary">Asesoría de ventas</small></p>
            </div>
        </div>
        <div class="card">
            <img id="trabajador2">
            <div class="cardl">
                <h3 id="nombre2"></h3>
                <p class="card-text"><small class="text-body-secondary">Mecánico</small></p>
            </div>
        </div>
        <div class="card">
            <img id="trabajador3">
            <div class="cardl">
                <h3 id="nombre3"></h3>
                <p class="card-text"><small class="text-body-secondary">Administración</small></p>
            </div>
        </div>
    </div>

    <div id="text-map">
        <div class="informacion-container">
            <div class="informacion">
                <h1 id="nosotros">SOBRE NOSOTROS</h1>
                <p id="info">En Taller Makween, nuestra misión es proporcionar soluciones integrales en el ámbito de
                    repuestos de vehículos y servicios de taller mecánico. Nos comprometemos a ofrecer productos de alta calidad
                    y servicios confiables que satisfagan las necesidades de nuestros clientes.</p>
            </div>
            <div class="map">
                <h1 id="encuentro">DONDE ENCONTRARNOS</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3794.77676623459!2d-67.13455110600577!3d-17.989119976230324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93e2b155696d58db%3A0xd5d651d340a8f6a!2sRAYO%20MCQUEEN!5e0!3m2!1ses-419!2scl!4v1715626459261!5m2!1ses-419!2scl" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

    <h2 id="trabaja">Envía tu postulación para trabajar con nosotros</h2>
    <div class="container-fluid" id="postulacioncss">
        <form action="" class="postulacion" id="postulacion">
            <!-- Rut -->
            <div class="postulacion_grupo" id="grupo_rut">
                <label for="rut" class="postulacion_label">Rut</label>
                <div class="postulacion-input">
                    <input type="text" class="postulacion_input" name="rut" id="rut" placeholder="17823943-k">
                    <i class="postulacion_validacion"></i>
                </div>
                <p class="postulacion_input-error">El rut debe tener un largo entre 9 y 10 caracteres y contener un guion</p>
            </div>

            <!-- Nombre -->
            <div class="postulacion_grupo" id="grupo_nombre">
                <label for="nombre" class="postulacion_label">Nombre</label>
                <div class="postulacion-input">
                    <input type="text" class="postulacion_input" name="nombre" id="nombre" placeholder="Keznit">
                    <i class="postulacion_validacion"></i>
                </div>
                <p class="postulacion_input-error">El nombre debe tener un largo entre 3 y 20 caracteres y no debe tener ningun carácter especial</p>
            </div>

            <!-- Apellido Paterno -->
            <div class="postulacion_grupo" id="grupo_appaterno">
                <label for="appaterno" class="postulacion_label">Apellido Paterno</label>
                <div class="postulacion-input">
                    <input type="text" class="postulacion_input" name="appaterno" id="appaterno" placeholder="Paterno">
                    <i class="postulacion_validacion"></i>
                </div>
                <p class="postulacion_input-error">El apellido paterno debe tener un largo entre 3 y 20 caracteres</p>
            </div>

            <!-- Apellido Materno -->
            <div class="postulacion_grupo" id="grupo_apmaterno">
                <label for="apmaterno" class="postulacion_label">Apellido Materno</label>
                <div class="postulacion-input">
                    <input type="text" class="postulacion_input" name="apmaterno" id="apmaterno" placeholder="Materno">
                    <i class="postulacion_validacion"></i>
                </div>
                <p class="postulacion_input-error">El apellido materno debe tener un largo entre 3 y 20 caracteres</p>
            </div>

            <!-- Edad -->
            <div class="postulacion_grupo" id="grupo_edad">
                <label for="edad" class="postulacion_label">Edad</label>
                <div class="postulacion-input">
                    <input type="text" class="postulacion_input" name="edad" id="edad" placeholder="18 - 35 años">
                    <i class="postulacion_validacion"></i>
                </div>
                <p class="postulacion_input-error">La edad mínima es 18 y la edad máxima 35 años.</p>
            </div>

            <!-- Celular -->
            <div class="postulacion_grupo" id="grupo_celular">
                <label for="celular" class="postulacion_label">Celular</label>
                <div class="postulacion-input">
                    <input type="text" class="postulacion_input" name="celular" id="celular" placeholder="974715240">
                    <i class="postulacion_validacion"></i>
                </div>
                <p class="postulacion_input-error">Largo del número del celular es de 9 y 12 números.</p>
            </div>

            <div class="postulacion_grupo" id="grupo_terminos">
                <label for="postulacion_label">
                    <input class="postulacion_checkbox" type="checkbox" name="terminos" id="terminos">
                    Acepto las condiciones
                </label>
            </div>

            <div class="postulacion_mensaje" id="postulacion_mensaje">
                <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Rellene la postulación correctamente.</p>
            </div>

            <div class="postulacion_grupo postulacion_grupo-btn-enviar">
                <button type="submit" class="postulacion_btn">Enviar</button>
                <p class="postulacion_mensaje-exito" id="postulacion_mensaje-exito">Postulación enviada exitosamente</p>
            </div>
        </form>
    </div>

    <!-- Footer -->
    <footer class="fo-pagina"></footer>

</body>

</html>
