{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Administracion </title>
    <link rel="icon" type="image/png" sizes="32x32" href="https://seeklogo.com/images/P/Pixar_Cars_-_Rusteze-logo-CD235902CE-seeklogo.com.png"/>
    <!-- Css -->
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/Listado.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3/css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <style>
        body {
            background: rgb(223, 141, 59);
        }
    </style>
</head>
<body>
    <div class="navbarM">
        <ul class="nav me-auto mb-4 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'menu' %}">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'listar' %}">Listado</a>
            </li>
        </ul>
        <a class="logo" href="{% url 'menu' %}">
            <img src="{% static 'imagenes/Adm.png' %}" alt="logo" width="140px" height="100px">
        </a>
        <ul class="nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'agrega' %}">Agregar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'modificar' %}">Modificar</a>
            </li>
        </ul>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mb-4">Modificar Mecanicos</h1>
                <a href="{% url 'agregar' %}" class="btn btn-primary mb-3">Agregar Mecanico</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Rut</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido P.</th>
                            <th scope="col">Apellido M.</th>
                            <th scope="col">Eliminar</th>
                            <th scope="col">Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mecanico in mecanicos %}
                            <tr>
                                <td>{{ mecanico.rut }}</td>
                                <td>{{ mecanico.nombre }}</td>
                                <td>{{ mecanico.apellido_paterno }}</td>
                                <td>{{ mecanico.apellido_materno }}</td>
                                <td>
                                    <!-- Agrega aquí el enlace o botón para eliminar -->
                                    <a href="{% url 'mecanicos_del' pk=mecanico.rut %}">Eliminar</a>
                                </td>
                                <td>
                                    <!-- Agrega aquí el enlace o botón para modificar -->
                                    <a href="{% url 'mecanicos_findEdit' pk=mecanico.rut %}">Modificar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>